<h1>Edit your to-do list</h1>

<%= simple_form_for(@checklist, html: { class: "forms" }) do |f| %>
  <%= f.input :title %>
  <%= f.input :category, collection: Checklist.categories.keys %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>

<div class="links">
  <%= link_to 'Cancel', checklists_path %>
</div>

