<h1>All your checklists</h1>

<ul>
  <% @checklists.each do |checklist| %>
    <%= link_to checklist_path(checklist) do %>
      <li><%= checklist.title %></li>
      <li><%= checklist.description %></li>
      <%= link_to "Delete", checklist_path(checklist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Checklist", new_checklist_path, class: "btn btn-primary" %>
