<h2 class="todo_list_title"><%= @checklist.title %></h2>
<p class="todo_list_sub_title"><%= @checklist.description %></p>

<div id="tasks_wrapper">
  <%= render @checklist.tasks %>
  <div id="form">
    <%= render "tasks/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_checklist_path(@checklist) %>
  <%= link_to 'Back', url_for(:back) %>
  <%= link_to "Delete", checklist_path(@checklist), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to 'All lists', checklists_path %>
</div>
